
<form [formGroup]="fuelingForm" >
<div class="form_container">
  <div class="form_header">
    <div class="form_fuelingnumber">Fueling number</div>
    <div class="form_cardicons">
      <span>icon1</span>
      <span>icon2</span>
    </div>
  </div>
  <div class="form_body" *ngIf="selectedFueling">
    <div class="form_bodyitem">
      <div class="form_bodytag">ID</div>
      <div class="form_bodyval"  formGroupName="id" >{{selectedFueling.id}}</div>
    </div>
    <div class="form_bodyitem">
      <mat-form-field class="form_bodyval">
        <input matInput placeholder="Name"  formControlName="name" >
      </mat-form-field>
    </div>
    <div class="form_bodyitem">

      <mat-form-field class="form_bodyval"><input matInput type="text" placeholder="Description" formControlName="description" class="form_input"></mat-form-field>
    </div>
    <div class="form_bodyitem">
      <div class="form_bodytag">Location (UTM)</div>
      <div class="form_bodyval form_group" formGroupName="location">
        <div><input type="text" formControlName="location_zone" class="form_input">n</div>
        <div><input type="text" formControlName="location_x" class="form_input"></div>
        <div><input type="text" formControlName="location_y" class="form_input"></div>
      </div>
    </div>
    <div class="form_bodyitem">
      <div class="form_bodytag">Ellipse</div>
      <div class="form_bodyval form_group" formGroupName="ellipse">
        <div><input type="text" formControlName="ellipse_width"  class="form_input">m</div>
        <div><input type="text" id="jinji"  formControlName="ellipse_length" class="form_input">m</div>
        <div><input type="text" formControlName="ellipse_azimuth" class="form_input">m</div>
      </div>
    </div>
    <div class="form_bodyitem">
      <div class="form_bodytag">Type</div>
      <div class="form_bodyval">
        <select formControlName="type" class="form_input form_ddown">
          <option *ngFor="let type of $fuelingType" [value]="type">
            {{type}}
          </option>
        </select>
      </div>
    </div>
    <div class="form_bodyitem">
      <div class="form_bodytag">Classification</div>
      <div class="form_bodyval">
        <select formControlName="classification" class="form_input form_ddown">
          <option *ngFor="let classification of $classificationOptions" [value]="classification">
            {{classification}}
          </option>
        </select>
      </div>
    </div>
    <div class="form_bodyitem">
      <div class="form_bodytag">Activity</div>
      <div class="form_bodyval">
        <select formControlName="activity" class="form_input form_ddown">
          <option *ngFor="let activity of $activityOptions" [value]="activity">
            {{activity}}
          </option>
        </select>
      </div>
    </div>
    <div class="form_bodyitem">
      <div class="form_bodytag">Certainty Level</div>
      <div class="form_bodyval">
        <select formControlName="certainty_level" class="form_input form_ddown">
          <option *ngFor="let certainty of $certaintyOptions" [value]="certainty.level">
            {{certainty.level}}
          </option>
        </select>
      </div>
    </div>

  </div>
  <div class="form_actions">
    <div><button mat-raised-button (click)="mockMe()"> Load Mock </button></div>
    <div><button mat-raised-button>Cancel</button></div>
    <div><button mat-raised-button (click)="makeEditable()">Edit</button></div>
    <div><button mat-raised-button (click)="makeReadonly()">Readonly</button></div>
    <div><button mat-raised-button (click)="makeReadonly()">Delete Entity</button></div>
    <div><button mat-raised-button (click)="makeReadonly()">Save</button></div>
  </div>
</div>
</form>

